.navegador {
  position: relative;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.3em;
  letter-spacing: -0.02em;
  background:#78788c;

      font-family: "Montserrat", sans-serif;
      font-size:x-large;

color: #FFFFFF;

}
.logo{

   width:30%;
}

.botonclick{

  width:10%;
font-size:x-large;
}




